@font-face {
  font-family: 'collegiateHeavyOutline-Medium';
  font-display: auto;
  src: url('../fonts/collegiateHeavyOutline-Medium.ttf') format('truetype');
}

main {
  background: #a66354;
}

.logo {
  margin-left: 5.31186vw;
}

.easyFreeWorksBox h2 {
  margin-top: 2.9vw;
  color: white;
  font-family: 'collegiateHeavyOutline-Medium' !important;
  font-weight: 100;
}

h1 {
  font-size: 4.8426vw;
  font-weight: 100;
  color: white;
  font-family: 'collegiateHeavyOutline-Medium' !important;
  margin-top: 4vw;
}

.textBox {
  margin-left: 3vw;
}

.getStartedNowParagraph {
  font-family: 'collegiateHeavyOutline-Medium' !important;
}

h1 span {
  font-size: 3.12445vw;
  position: relative;
  top: 1vw;
}

.easyFreeWorksBox p {
  color: white;
  line-height: 1.35;
}

.sectionWatchVideo {
  background: #a66354;
}

.floatingDiv p:nth-child(3) {
  font-family: 'collegiateHeavyOutline-Medium' !important;
  /* color: #3266a1; */
}

.floatingDiv h2 span {
  color: #ef8223;
  font-family: 'collegiateHeavyOutline-Medium';
  font-weight: 100;
}

.footerBottom {
  background-color: #a66354;
}

.sectionHighSchoolAndTeams h2 {
  font-family: 'collegiateHeavyOutline-Medium';
  font-weight: 100;
}
