@font-face {
  font-family: 'Sports-World-Regular';
  font-display: auto;
  src: url('../fonts/Sports-World-Regular.otf') format('truetype');
}

.getStartedNowParagraph{
  font-family: 'Sports-World-Regular';
  font-weight: 100;
}

.headerBG{
  height: 111%;
}

main {
  background: #70a2c3
}

h1{
  color: #e6e66b;
  font-family: 'Sports-World-Regular' !important;
  font-weight: 100;
  font-size: 4.2vw;
}

h1 span {
  font-size: 1.82445vw;
}

.easyFreeWorksBox h2{
  color: #e6e66b;
  font-family: 'Sports-World-Regular';
  font-weight: 100;
}

.floatingDiv p:nth-child(3) {
  color: #5dbfff;
}

.floatingDiv h2 span{
  color: #5dbfff;
}

.teamsWeHelped span{
  color: #5dbfff;
}

.floatingDiv p:nth-child(3){
  font-family: 'Sports-World-Regular' !important;
}

.getStartedNowParagraph{
  color: #5dbfff;
}
.sectionWatchVideo{
  background: #70a2c3;
}

.watchVideoContainer button{
  background: #0fafee;
}

.footerBottom{
  background: #70a2c3;
}
