main{
  background: #384e94;
}

.easyFreeWorksBox h2{
  margin-top: 2.9vw;
  color: white;
}

h1{
  font-size: 6.8426vw;
  color: white;
}
.easyFreeWorksBox p{
  color: white;
  line-height: 1.35;
}

.sectionWatchVideo{
  background: white;
}

.footerBottom{
  background-color: #384e94;
}

.banerShadow{
  top: 52vw;
}
